asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
django-cloudinary-storage==0.3.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
cloudinary==1.44.1
Pillow==12.1.1
python-decouple==3.8
psycopg[binary]>=3.2,<4.0
python-dateutil==2.8.2
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
